%description-11 {
  font-family: "Prociono", sans-serif;
  font-size: 1.1rem;
}

%description-13 {
  font-family: "Prociono", sans-serif;
  font-size: 1.4rem;
}

%description-15 {
  font-family: "Prociono", sans-serif;
  font-size: 1.5rem;
}

%description-17 {
  font-family: "Prociono", sans-serif;
  font-size: 1.7rem;
}

%description-21 {
  font-family: "Prociono", sans-serif;
  font-size: 2.1rem;
}
