%title-42 {
  font-family: "MADE SAONARA", serif;
  font-size: 4.2rem;
}
%title-44 {
  font-family: "MADE SAONARA", serif;
  font-size: 4.4rem;
}
%title-50 {
  font-family: "MADE SAONARA", serif;
  font-size: 5rem;
}
