.slider {
  background-color: $white;
  width: 100%;
  height: auto;
  display: flex;

  @media only screen and (max-width: 48em) {
    position: relative;
    overflow: hidden;
    height: 90vmin;
  }

  @media only screen and (max-width: 35em) {
    position: relative;
    overflow: hidden;
    height: 130vmin;
  }

  .item-1 {
    width: 50vw;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);

    @media only screen and (max-width: 48em) {
      display: flex;
      gap: 4vmin;
      position: absolute;
      bottom: 1.5rem;
      user-select: none;
    }

    img {
      display: block;
      width: 100%;
      height: 90rem;
      object-fit: cover;

      &:last-of-type {
        display: none;
      }

      @media only screen and (max-width: 64em) {
        &:nth-child(3) {
          object-position: 20%;
        }
      }

      @media only screen and (max-width: 48em) {
        object-position: 100% center;
        width: 26rem;
        height: 40vmin;

        &:last-of-type {
          display: block;
        }
      }
    }
  }

  .item-2 {
    padding: 10rem 19rem;
    width: 50vw;
    pointer-events: none;

    @media only screen and (max-width: 64em) {
      padding: 5rem 4rem;
    }

    @media only screen and (max-width: 48em) {
      height: 100vh;
      width: 100vw;
      padding: 0 rem;
    }

    div {
      margin: 0 auto;
      margin-top: 20rem;
      // margin-bottom: 29vmin;
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      width: 47.6rem;

      @media only screen and (max-width: 64em) {
        width: auto;
      }

      @media only screen and (max-width: 48em) {
        margin: 7rem auto;
        position: static;
        transform: translateY(0);
        width: 70%;
      }

      @media only screen and (max-width: 35em) {
        width: 100%;
        margin: 0 auto;
      }

      h3 {
        @extend %title-44;
        font-weight: 600;
        color: $vivid-vermilion;
        margin-bottom: 4.2rem;
        text-align: center;
        transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }

      p {
        @extend %description-21;
        color: $black;
        text-align: justify;
        transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }
    }
  }
}
