@font-face {
  font-family: "Prociono";
  src: url("/fonts/Prociono-Regular.woff2") format("woff2"),
    url("/fonts/Prociono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE SAONARA";
  src: url("/fonts/MADESAONARA.woff2") format("woff2"),
    url("/fonts/MADESAONARA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
